{% set currentUrl = page.url %}
<header class="flex flex-wrap items-center justify-between w-full gap-2 pt-8 mx-auto">
  {# Branding #}
  <a href="/" class="flex items-center flex-shrink-0 gap-2 font-semibold border-none underline-none"{% if currentUrl === '/' %}aria-current="page"{% endif %}><img src="{{ site.brand.logo }}" alt="Logo" class="w-8 h-8" />m2creates</a>

  <div class="flex flex-wrap items-center gap-4">
  {# Nav Links #}
  <nav>
    <ul class="flex flex-wrap gap-x-4">
      {% for item in navigation.header %}
      <li class="py-2"><a href="{{ item.href }}" {% if currentUrl === item.href %}aria-current="page"{% endif %}>{{ item.text }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  {# Color Scheme toggle #}
  <button id="colorToggle" class="js-color-toggle" role="switch" aria-checked="false" aria-label="Toggle color mode">
    {# Light (Sun) Icon #}
    <svg class="w-4 h-4 icon-light" role="img" aria-hidden="true">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/icon-library.svg#sun"></use>
    </svg>

    {# Dark (Moon) Icon #}
    <svg class="w-4 h-4 icon-dark" role="img" aria-hidden="true">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/icon-library.svg#moon"></use>
    </svg>
  </button>
  </div>

</header>