{% if pagination.href.previous or pagination.href.next %}
<nav class="flex flex-row items-center justify-center w-full md:px-24" aria-label="Archive Navigation">
  {% if pagination.href.previous %}
    <p class="px-2 mb-0 text-sm"><a href="{{ pagination.href.previous }}">Previous</a></p>
  {% endif %}
  {%- for pageEntry in pagination.pages %}
    {%- if not loop.last %}
      <p class="px-2 mb-0 text-sm">
        <a href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %}aria-current="page" class="no-underline border-none"{% endif %}>{{ loop.index }}</a>
      </p>
    {% endif %}
  {%- endfor %}
  {% if pagination.href.next %}
    <p class="px-2 mb-0 text-sm"><a href="{{ pagination.href.next }}">Next</a></p>
  {% endif %}
</nav>
{% endif %}