<a href="https://www.buymeacoffee.com/m2" target="_blank" class="flex items-center justify-center w-full px-5 my-8 text-white no-underline bg-purple-600 hover:bg-purple-800 focus-within:bg-purple-800">
  <svg class="w-10 h-10 icon-bmac" role="img" aria-hidden="true">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/icon-library.svg#bmac"></use>
  </svg>
  <p class="pl-4">Thanks for reading! If this helped or you learned something, Buy Me A Coffee.</p>
</a>