<section class="inline-block w-full my-8 bg-purple-600 bmac hover:bg-purple-800 focus-within:bg-purple-800">
  <a href="https://www.buymeacoffee.com/m2" target="_blank" class="flex items-center justify-center text-white no-underline">
    <svg class="w-10 h-10 icon-bmac" role="img" aria-hidden="true">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/icon-library.svg#bmac"></use>
    </svg>
    <p class="pl-4">Thanks for reading! If this helped or you learned something,<br>Buy Me A Coffee.</p>
  </a>
</section>