<!DOCTYPE html>
<html lang="{{ site.meta.locale }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if title %}{{ title }} | {% endif %}{{ site.name }}</title>

    {% include "components/meta.njk" %}

    {% block schema %}
    {% include "components/schema.njk" %}
    {% endblock %}

    {% if app.environment === "production" %}
    <link rel="stylesheet" href="{{ site.meta.url }}/assets/tailwind.css" />
    {% else %}
    <link rel="stylesheet" href="/assets/tailwind.css" />
    {% endif %}

    {% block styles %}
    {% endblock %}

    {% if site.analytics.provider === "fathom" %}
    {# Fathom Analytics #}
    <script src="{{ site.analytics.fathom_url }}" site="{{ site.analytics.fathom_id }}" honor-dnt="true" defer></script>
    {% endif %}

    {# Netlify Identity #}
    {% if page.url === "/" %}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
    {% endif %}

    {% block scripts_head %}
    {% endblock %}
    
  </head>
  <body>
    <a class="sr-skip-link" href="#main">Skip to content</a>

    {# Site header #}
    <header>
      {# {% include "components/header.njk" %} #}
    </header>

    {# Main content #}
    <main id="main" tabindex="-1" class="p-8">
      {% block content %}
      <div class="prose">{{ content | safe }}</div>
      {% endblock %}
    </main>

    <footer>
      {# {% include "components/footer.njk" %} #}
    </footer>

    {% block scripts_body %}
    {# <script src="/assets/scripts/main.js" defer></script> #}
    {% endblock %}

  </body>
</html>