<!DOCTYPE html>
<html lang="{{ site.meta.locale }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if title %}{{ title }} | {% endif %}{{ site.name }}</title>

    {% include "components/meta.njk" %}

    {% block schema %}
    {% include "components/schema.njk" %}
    {% endblock %}

    {% block styles %}
    <link rel="stylesheet" href="{{ '/assets/styles/styles.css' | url }}" />
    {% endblock %}

    {# Netlify Identity #}
    {% if page.url === "/" %}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
    {% endif %}
    
  </head>
  <body>
    <a class="visually-hidden" href="#main">Skip to content</a>

    {# Site header #}
    <header>
      {# {% include "components/header.njk" %} #}
    </header>

    {# Main content #}
    <main id="main" tabindex="-1">
      {% block content %}
      {{ content | safe }}
      {% endblock %}
    </main>

    <footer>
      {# {% include "components/footer.njk" %} #}
    </footer>

    {% block scripts_body %}
    <script src="/assets/scripts/main.js" defer></script>
    {% endblock %}

  </body>
</html>