{% extends "layouts/base.njk" %}

{% block content %}

<article>

  <!-- Intro -->
  <h1 class="mt-0 mb-3 text-3xl font-extrabold break-normal md:text-5xl">{{ title }}</h1>
  <p class="text-sm font-bold uppercase md:text-base">{{ subtitle }}</p>

  <!-- pages/index.md -->
  {{ content | safe }}

  <!-- Featured Projects -->
  <h2 class="mb-3 text-xl font-semibold break-normal md:text-3xl">Featured Projects</h2>
  {% set posts = collections.projectsFeatured %}
  {% include "components/list/list-projects.njk" %}

  <!-- Latest Posts -->
  <h2 class="mb-3 text-xl font-semibold break-normal md:text-3xl">Latest Posts</h2>
  {% set posts = collections.posts | limit(5) %}
  {% include "components/list/list-posts.njk" %}

</article>

{% endblock %}
