{% extends "layouts/base.njk" %}

{% block content %}

<article class="">

  <!-- Post title -->
  <h1 class="mt-0 mb-3 text-3xl font-extrabold break-normal md:text-5xl">{{ title }}</h1>

  <!-- TLDR -->
  {% if tldr %}
  <p class="tldr">{{ tldr }}</p>
  {% endif %}

  <!-- Featured Image/Poster -->
  {% if image.url %}
  <figure class="mb-8 max-w-screen">
    <img src="{{ image.url }}" alt="{{ image.alt }}" class="object-cover mb-3 aspect-w-4 aspect-h-3"/>
    {% if image.credit %}
    <figcaption><span>Image credit: {{ image.credit }}</span></figcaption>
    {% endif %}
  </figure>
  {% endif %}

  <!-- Content -->
  {{ content | safe }}

</article>

{% endblock %}
