{% extends "layouts/base.njk" %}

{% block content %}

<article class="h-feed">

  <!-- Post title -->
  <h1 class="mt-0 mb-3 text-3xl font-extrabold break-normal p-name md:text-5xl">{{ title }}</h1>

  <!-- TLDR -->
  {% if tldr %}
  <p class="text-xl p-summary tldr md:text-2xl">{{ tldr }}</p>
  {% endif %}

  {% set postslist = posts %}
  {% include "components/list/list-posts.njk" %}

  {% include "partials/pagination.njk" %}

</article>

{% endblock %}
