{% extends "layouts/base.njk" %}

{% block content %}

<article>

  <!-- Post title -->
  <h1 class="mt-0 mb-3 text-3xl font-extrabold break-normal md:text-5xl">{{ title }}</h1>

  <!-- Meta -->
  <p class="text-sm font-bold uppercase md:text-base">
    
    <!-- Author -->
    <span>By {{ site.author.name }}</span>
    <span class="px-1" aria-hidden="true">/</span>

    <!-- Taxonomies -->
    {% if tags or categories or uses %}
      <span>Tagged: 
      {% set separator = joiner(',') %}
      {# TODO: link the taxonomies: /tags/{{tag}}, /categories/{{category}}, /uses/{{item}} #}
      {%- for tag in tags %}{{ separator() }} {{ tag }}{% endfor %}
      {%- for category in categories %}{{ separator() }} {{ category }}{% endfor %}
      {%- for item in uses %}{{ separator() }} {{ item }}{% endfor %}
      </span>
      <span class="px-1" aria-hidden="true">/</span>
    {% endif %}

    <!-- Reading time -->
    <span>{{ content | readingTime }} read</span>
    <span class="px-1" aria-hidden="true">/</span>
    <!-- Dates -->
    <time datetime="{{ datePublish }}" itemProp="datePublished">Published: {{ datePublish | format('dd LLL yyyy') }}</time>{% if date != datePublish %} <span aria-hidden="true">•</span> <time datetime="{{ date }}" itemProp="dateUpdated">Updated: {{ page.date | format('dd LLL yyyy') }}</time>{% endif %}
  </p>

  <!-- TLDR -->
  {% if tldr %}
  <p class="tldr">{{ tldr }}</p>
  {% endif %}

  <!-- Featured Image/Poster -->
  {% if image.url %}
  <figure class="mb-8 max-w-screen">
    <img src="{{ image.url }}" alt="{{ image.alt }}" class="object-cover mb-3 aspect-w-4 aspect-h-3"/>
    {% if image.credit %}
    <figcaption><span>{{ image.credit }}</span></figcaption>
    {% endif %}
  </figure>
  {% endif %}

  <!-- Content -->
  {{ content | safe }}

  {% include "components/BuyMeACoffee/BuyMeACoffee.njk" %}

</article>

{% endblock %}
